spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://${DATABASE_HOST:localhost}:${DATABASE_PORT:3306}/${DATABASE_NAME:findy}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DATABASE_USER:server}
    password: ${DATABASE_PASSWORD:findy2025}

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
    open-in-view: false

  mail:
    host: smtp.gmail.com
    port: ${MAIL_PORT:587}
    username: ${MAIL_USER_NAME:findy.korea@gmail.com}
    password: ${MAIL_PASSWORD:qzflvcxygsynzvfl}
    properties:
      expiration: ${MAIL_EXPIRATION:7200}
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
security:
  jwt:
    access:
      secret: ${JWT_ACCESS_SECRET:local_access_secret_local_access}
      expiration: 3600
    refresh:
      secret: ${JWT_REFRESH_SECRET:local_refresh_secret_local_refre}
      expiration-default: 7200
      expiration-remember-me: 604800

  cors:
    origins: ${CORS_ORIGINS:http://localhost:5500}

  encryption:
    secret-key: ${ENCRYPTION_SECRET_KEY:H6VNzJK6EY4Kk+uvCxCqAupkcB53uEo1QxQ6ub9eVEs=}

  cookie:
    secure: false

externals:
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:findy2025}

  kakao:
    type: ${GRANT_TYPE:authorization_code}
    client-secret: ${CLIENT_SECRET}
    client-id: ${CLIENT_ID}

  google:
    client_id: ${GOOGLE_CLIENT_ID:443990293569-kk55tr2uih25ng3pqueoarqi4bg90a2e.apps.googleusercontent.com}
    client_secret: ${GOOGLE_CLIENT_SECRET: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}
    redirect_uri: ${GOOGLE_REDIRECT_URI:http://localhost:8080/google/auth}

server:
  port: ${SERVER_PORT:8080}
