spring:
  config:
    activate:
      on-profile: develop

  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:dpg-d466enq4d50c73ce46dg-a.oregon-postgres.render.com}:${DATABASE_PORT:5432}/${DATABASE_NAME:findy2025}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USER:server}
    password: ${DATABASE_PASSWORD:NlwuNeLpASJr9cdQn10AmKC7AqLO0moG}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
    open-in-view: false

  mail:
    host: smtp.gmail.com
    port: ${MAIL_PORT:587}
    username: ${MAIL_USER_NAME:findy.korea@gmail.com}
    password: ${MAIL_PASSWORD:qzflvcxygsynzvfl}
    properties:
      expiration: ${MAIL_EXPIRATION:7200}
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


security:
  jwt:
    access:
      secret: ${JWT_ACCESS_SECRET:local_access_secret_local_access}
      expiration: 3600
    refresh:
      secret: ${JWT_REFRESH_SECRET:local_refresh_secret_local_refre}
      expiration-default: 7200
      expiration-remember-me: 604800

  cors:
    origins: ${CORS_ORIGINS:http://localhost:5500}

  encryption:
    secret-key: ${ENCRYPTION_SECRET_KEY:H6VNzJK6EY4Kk+uvCxCqAupkcB53uEo1QxQ6ub9eVEs=}

  cookie:
    secure: false

externals:
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:findy2025}

  kakao:
    type: ${GRANT_TYPE:authorization_code}
    client-secret: ${CLIENT_SECRET}
    client-id: ${CLIENT_ID}

server:
  port: ${SERVER_PORT:8080}
