|===
|필드명|타입|설명

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}
{{#optional}}
{{type}}
{{/optional}}
{{^optional}}
{{type}} [.red]#***#
{{/optional}}
{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
{{/fields}}
|===