name: CI/CD Pipeline

on:
  push:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make application.yml
        run: |
          cd ./src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > ./application.yml
        shell: bash

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: umc7thServer
          path: build/libs/*.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: umc7thServer
          path: build/libs/

      - name: Deploy to EC2
        env:
          EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          EC2_USERNAME: ${{ secrets.EC2_USERNAME }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
        run: |
          # 개인 키 생성 및 권한 설정
          echo "$EC2_SSH_KEY" > private_key.pem
          chmod 600 private_key.pem

          jar_file=$(find build/libs -name '*.jar' ! -name '*plain.jar' | head -n 1)

          # JAR 파일 전송
          scp -i private_key.pem -o StrictHostKeyChecking=no "$jar_file" $EC2_USERNAME@$EC2_HOST:/home/$EC2_USERNAME/umc7thServer.jar

          # EC2 접속 후 Java 설치 및 애플리케이션 실행
          ssh -i private_key.pem -o StrictHostKeyChecking=no $EC2_USERNAME@$EC2_HOST "
            # Java 설치 확인, 없으면 설치
            if ! command -v java &> /dev/null; then
              echo 'Java가 설치되어 있지 않아 설치합니다.'
              sudo apt update
              sudo apt install -y openjdk-17-jdk
            fi

            # 기존 프로세스 종료
            pgrep java | xargs -r kill -15
            sleep 5

            # JAR 실행
            nohup java -jar /home/$EC2_USERNAME/umc7thServer.jar > app.log 2>&1 &
          "

          # 민감 정보 삭제
          rm -f private_key.pem
